<div class="container post-detail-section">
  @if (status === 'loading') {
    <div>
      Loading content...
    </div>
  }
  @else {
    <div class="post-header">
      <h1>{{ post.title }}</h1>
      <div class="post-info">
        <div class="team">
          <h4>{{ post.team_name }}</h4>
        </div>
        <h4> {{ post.username }}</h4>
        <h4> {{ post.posted_on |  date:'short'}}</h4>
      </div>
    </div>
    <div class="post-content" [innerHTML]="post.content"></div>
    <div class="likes-counter">
      <p>{{ post.count_likes }} {{ post.count_likes === 1 ? 'Like' : 'Likes'}}</p>
    </div>
    <div class="comments-container">
      <h2>Comments</h2>
      <div class="nav-comments">
        <i
        class="fa-solid fa-angle-left fa-2x interact"
        [style.visibility]="prevPageComments()? 'visible' : 'hidden'"
        (click)="onPrevPageComments()"
        >
        </i>
        <p>{{startComment()}} - {{endComment()}} of {{commentCount()}}</p>
        <i
          class="fa-solid fa-angle-right fa-2x interact"
          [style.visibility]="endComment() < commentCount()? 'visible' : 'hidden'"
          (click)="onNextPageComments()"
        >

        </i>
      </div>
      <ul class="comments-list">
        @for (comment of comments; track $index) {
          <div class="comment-header">
            <h4 class="username">{{comment.username}}</h4>
            <h4 class="date">{{comment.commented_at | date: 'short'}}</h4>
          </div>
          <div class="comment-content">
            <p>{{ comment.content }}</p>
          </div>
        }
      </ul>

    </div>
    @if (userCanComment){
      <div class="add-comment-container">
        <h2>Add New Comment</h2>
        <textarea [(ngModel)]="newComment" rows="3" placeholder="Write your comment..."></textarea>
        <div class="add-comment-buttons">
          <button class="submit-but" (click)="submitComment()" [disabled]="isSubmitting">Submit</button>
          <button (click)="newComment=''">Cancel</button>
        </div>
      </div>
    }
  }
</div>
