.post-list {
  margin-top: 1rem;
}

.posts-nav-container {
  width: 100%;
  display: flex;
  justify-content: center;

}

.posts-nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;

  .interact {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: scale(1.0);
    }
  }

  .counter {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
  }

  @media(min-width: 768px) {
    width: 25%;
  }
}

.create-post-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 4rem;
  color: var(--second-color);
  background-color: var(--main-color);
  cursor: pointer;
  padding: 1rem;
  transition: transform 0.2s ease-in-out;

  &:hover{
    transform: scale(1.1);
  }

  @media (min-width: 480px) {
    font-size: 5rem;
  }

  @media (min-width: 768px) {
    font-size: 6rem;
  }

  @media (min-width: 1024px) {
    font-size: 7.5rem;
  }

}

footer {
  height: 6.5rem;
}
