.register-form {
  border: 2px solid black;
  border-radius: 20px;
  width: 500px;
  align-items: center;
  margin: 10rem auto;


  .register-title {
    display: flex;
    justify-content: center;
  }

  form {
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;

    .form-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
      width: 80%;
    }

    input {
      width: 100%;
      margin: 0.25rem auto;
      padding-left: 1rem;
      height: 3rem;
      border: 1px solid;
      border-radius: 0.5rem;
      font-size: 100%;
    }

    small {
      color: red;
      margin-top: 0.3rem;
      margin-bottom: 0.5rem;
      padding-left: 1rem;
      opacity: 0;
      transition: opacity 0.3s;
      &.visible {
        opacity: 1;
      }
    }

    button {
      background-color: var(--second-color);
      border: 0;
      border-radius: 10px;
      cursor: pointer;
      color: #1E1E1E;
      font-size: large;
      font-weight: 550;
      padding: 0.75rem;
    }
  }

  .already-account {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    p{
      font-size: 1rem;
    }
    a{
      color: #0077cc;
      font-size: 1.3rem;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .register-form {
    width: 90%;
    border: 0;
  }
}

