
<div class="register-form">
  <div class="register-title">
    <h1>Create an account</h1>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="form-group">
      <input formControlName="email" id="email" type="email" placeholder="Enter email">

      @if (emailError) {
        <small class="error"> {{ emailError }}</small>
      }
    </div>
    <div class="form-group">
      <input formControlName="username" id="username" type="text" placeholder="Enter username">
      @if (usernameError) {
        <small class="error"> {{ usernameError }}</small>
      }
    </div>
    <div class="form-group">
      <input formControlName="password" id="password" type="password" placeholder="Password">
      @if (passwordError) {
        <small class="error"> {{passwordError}} </small>
      }
    </div>
    <div class="form-group">
      <input formControlName="confirmPassword" id="confirmPassword" type="password" placeholder="Confirm password">
      @if (confirmPasswordError) {
        <small class="error"> {{confirmPasswordError}} </small>
      }
    </div>
    <button type="submit" [disabled]="isSubmitting"> Register</button>
  </form>
  <div class="already-account">
    <p> Have an account?</p>
    <a routerLink="/login" >Log in</a>
  </div>

</div>


