
<div class="register-form">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="form-group">
      <label for="email">Email: </label>
      <input formControlName="email" id="email" type="email">

      @if (showEmailRequired) {
        <small class="error"> Email required.</small>
      }
      @else if (showEmailError) {
        <small class="error"> Invalid email.</small>
      }
      @else if (emailTaken){
        <small class="error"> This email already exists.</small>
      }
    </div>
    <div class="form-group">
      <label for="username">Username: </label>
      <input formControlName="username" id="username" type="text">


    </div>

    <label for="password">Password: </label>
    <input formControlName="password" id="password" type="text">

    @if (showUsernameError) {
      <small class="error"> Username required.</small>
    }
    @else if (usernameTaken) {
      <small class="error"> Username already exists.</small>
    }
    @else if (showPasswordRequired) {
      <small class="error">Password required.</small>
    }
    @else if( showPasswordError){
      <small class="error">Password too short.</small>
    }

    <label for="confirmPassword">Confirm password: </label>
    <input formControlName="confirmPassword" id="confirmPassword" type="text">

    @if (showMismatchPasswordError) {
      <small class="error"> Password mismatch</small>
    }

    <button type="submit" > Register</button>
  </form>
  <div class="already-account">
    <p> Have an account?</p>
    <a>Log in</a>
  </div>
</div>


