nav {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(103, 194, 194);
  border-bottom: 2px solid;

  * {
    margin: 0 auto;
    padding: 0.5rem 0.25rem;
  }

  .logo {
    width: 50%;
  }

  .log-buttons {
    display: flex;
  }

}
a {
  cursor: pointer;
}
