nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  background-color: var(--second-color);
  border-bottom: 2px solid;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  * {
    margin: 0.25rem auto;
  }
}

.browser-nav {
  display: none;

  .logo {
    cursor: pointer;

    img {
      width: 15rem;
    }
  }

  .welcome {
      font-size: 1rem;
  }

  .log-buttons {
    display: flex;

    .login-register {
      display: flex;
      gap: 2rem;
    }

    button {
      background-color: var(--second-color);
      border: 0;
      cursor: pointer;
      color: #1E1E1E;
      font-size: large;
      font-weight: 550;
      padding: 0.75rem;

      &:hover {
        background-color: #F5F5F5;
        color: black;
        border-radius: 10px;
        transform: scale(1.0);
      }
    }
  }

}

.mobile-nav {
  display: flex;

  .logo {
    img {
      width: 8rem;
    }
  }

  .welcome {
    font-size: 0.8rem;
  }

  .log-buttons {
    // display: flex;

    .login-register {
      display: flex;
      gap: 1rem;
    }


    button {
      background-color: #F5F5F5;
      border: 0;
      border-radius: 10px;
      cursor: pointer;
      color: #1E1E1E;
      font-size: large;
      font-weight: 550;
      padding: 0.75rem;
    }
  }
}

@media (min-width: 768px) {
  .mobile-nav{
    display: none;
  }

  .browser-nav {
    display: flex;
  }
}
