nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  background-color: rgb(103, 194, 194);
  border-bottom: 2px solid;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;  // equivalent to Tailwind px-4 (16px)
  padding-right: 1rem;

  * {
    margin: 0.25rem auto;
  }

  .logo {
    flex: 1 1 20%;
    cursor: pointer;

    img {
      width: 10rem;

      @media(min-width: 768px) {
        width: 15rem;
        margin-bottom: 0;
      }
    }
  }

  .welcome {
    font-size: 0.75rem;
    @media(min-width: 768px) {
      font-size: 1rem;
    }
  }

  .log-buttons {
    display: flex;
  }

}

a {
  cursor: pointer;
}
