<div class="post">
  <div class="post-header">
    <h1>{{ post.title }}</h1>
    <div class="post-info">
      <div class="team">
        <p> {{ post.team_name }}</p>
      </div>
      <p> {{ post.username }}</p>
      <p> {{ post.posted_on |  date:'short'}}</p>
    </div>
  </div>
  <div class="post-content" [innerHTML]="adjustedContent" (click)="onContentClick($event)"></div>
  <div class="post-panel">
    <div class="likes-comments-counter">
      <button (click)="onShowLikes()" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
        {{ countLikes() }} {{ countLikes() == 1 ? 'Like' : 'Likes' }}
      </button>
      <button (click)="goToDetail()">
        {{ post.count_comments }} {{ post.count_comments == 1 ? 'Comment' : 'Comments' }}
      </button>
    </div>

    @if (authService.isLoggedInSig()) {
      <div class="interact-buttons">
        <div class="like-comment-buttons">
          @if(post.hasLiked){
            <i (click)="onUnlikePost()" class="fa fa-heart interact"></i>
          } @else {
            <i (click)="onLikePost()" class="far fa-heart interact"></i>
          }
          <i [routerLink]="`${post.id}`" class="far fa-commenting interact"></i>
        </div>

        <div class="edit-delete-buttons">
          @if (userCanEdit) {
            <i [routerLink]="`/posts/edit/${post.id}`" class="fa fa-pen-to-square interact"></i>
            <i (click)="onDelete()" class="fa fa-trash interact"></i>
          } @else {
            <span class="empty-space"></span>
          }
        </div>
      </div>
    }
  </div>

</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="showLikes"
  (detach)="showLikes = false"
  (overlayOutsideClick)="showLikes = false"
>
  <div class="likes-list-overlay">
    <p>List of likes</p>
    <div class="counter">
      <i [style.visibility]="prevLikesPage ? 'visible' : 'hidden'" (click)="getPrevLikesPage()" class="fa-solid fa-angle-left"></i>
      <p> {{startLikes()}} - {{endLikes()}} of {{countLikes()}}</p>
      <i [style.visibility]="nextLikesPage ? 'visible' : 'hidden'" (click)="getNextLikesPage()" class="fa-solid fa-angle-right"></i>
    </div>
    @for (like of likes; track $index) {
      <p class="like"> {{like.username}}</p>
    }
  </div>
</ng-template>
