<div class="post">
  <div class="post-header">
    <h1>{{ post.title }}</h1>
    <p>{{ post.team }}</p>
    <p> {{ post.username }}</p>
    <p> {{ post.posted_on | date}}</p>
  </div>
  <div class="post-content">
    @if(post.content.length < 200){
      <p>{{ post.content}}</p>
    }
    @else {
      <p> {{ post.content.slice(0,200) + ' ..... '}} <a> Show More</a></p>
    }
  </div>
  <div class="post-panel">
    <a (click)="showLikes = !showLikes" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin"> {{likesCount}} {{likesCount == 1 ? 'Like' : 'Likes'}}</a>
    <a (click)="goToDetail()"> {{commentCount}} {{commentCount == 1 ? 'Comment' : 'Comments'}}</a>
    @if (currentUserId) {
      @if (likeFromCurrentUser === true) {
        <button (click)="onUnlikePost()">Dislike</button>
      }
      @else if (likeFromCurrentUser === false){
        <button (click)="onLikePost()">Like</button>
      }

      @if(showEditButtons) {
        <button>Comment</button>
        <button>Edit</button>
        <button (click)="onDelete()">Delete</button>
      }
    }
  </div>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="showLikes"
  (detach)="showLikes = false"
>
  <div class="likes-list-overlay">
    <p>List of likes</p>
    @if(prevLikesPage) {
      <button>Prev</button>
    }
    @for (like of likes; track $index) {
      <div>
        <p> {{like.email}}</p>
      </div>
    }
    @if (nextLikesPage) {
      <button>Next</button>
    }
  </div>
</ng-template>
