.post {
  padding-bottom: 0.5rem;
  border-bottom: 2px dashed gray;

  .post-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 0.25rem;
    h1 {
      flex: 1 1 45%;
      text-wrap: inherit;
      min-width: 200px;
      overflow-wrap: break-word;
    }
    .post-info {
      display: flex;
      flex: 1 1 50%;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      min-width: 200px;
      p {
        margin: 0 0.5rem;
      }
    }
  }

  .post-content {
    a {
      font-size: 1.5rem;
    }
  }
}


.post-panel {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .likes-comments-counter {
    flex: 1 1 50%;

    .comment-counter {
      margin-left: 1rem;
    }

  }

  .interact-buttons {
    flex: 1 1 50%;
    display: flex;
    justify-content: space-evenly;

    .like-comment-container {
      flex: 1 1 50%;
      display: flex;
      justify-content: space-evenly;

      .like-button {
        display: inline-block;
        padding: 1rem;
        width: 3rem;
        height: 3rem;
        border: 0;
        background-color: inherit;
        background-repeat: no-repeat;
      }

      .like{
        background-image: url('/like-empty.svg');
      }
      .dislike {
        background-image: url('/like-full.svg');
      }
    }

    .edit-buttons {
      flex: 1 1 50%;
      display: flex;
      justify-content: space-evenly;
      margin-right: 3rem;
      * {
        margin: 0 1rem;
      }
    }
  }
}

.likes-list-overlay {
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.delete-dialog {
  border: solid 1px black;
  background-color: white ;
}



button, a {
  cursor: pointer;
  padding: 0.25rem;
  margin-right: 0.25rem;
}
