<div class="container creation-form">
  <form [formGroup]="form" (ngSubmit)="submitPost()">
    <div class="form-title">
      <h3>Title:</h3>
      <input
        formControlName="title"
        id="title"
        type="text"
        placeholder="Enter a title for your post"
      >
    <small [class.visible]="titleError">{{ titleError }}</small>
    </div>
    <div class="form-content">
      <h3>Content:</h3>
      <ckeditor
        [editor]="Editor"
        formControlName="content"
        [config]="{
          placeholder: 'Write your post content here...',
          toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
          }"
        ></ckeditor>
      <small [class.visible]="contentError"> {{ contentError }}</small>
    </div>
    <div class="form-permissions">
      <div class="title">
        <h2>Permissions</h2>
      </div>
      <table>
        <thead>
          <tr class="header-row">
            <th>Category</th>
            <th>Access</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Public</td>
            <td>
              <select formControlName="publicPermission" id="publicPermission">
              @for (option of publicPermissionOptions; track $index) {
                <option [value]="option.key">{{option.label}}</option>
              }
            </select>
            </td>
          </tr>
          <tr>
            <td>Authenticated</td>
            <td>
              <select formControlName="authenticatedPermission" id="authenticatedPermission">
              @for (option of permissionOptions; track $index) {
                <option [value]="option.key">{{option.label}}</option>
              }
            </select>
            </td>
          </tr>
          <tr>
            <td>Team</td>
            <td>
              <select formControlName="teamPermission" id="teamPermission">
              @for (option of permissionOptions; track $index) {
                <option [value]="option.key">{{option.label}}</option>
              }
            </select>
            </td>
          </tr>
          <tr>
            <td>Author</td>
            <td>
              <select formControlName="authorPermission" id="authorPermission">
                <option [value]="permissionOptions[2].key">{{permissionOptions[2].label}}</option>
            </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="buttons">
      <button type="submit" class="submit" [disabled]="isSubmitting">{{ submitButtonName }}</button>
      <button type="button" class="cancel-btn" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
